<?xml version="1.0"?>
<launch>
    <!--通过包含load_tx60l.launch加载urdf模型-->
    <include file="$(find staubli_description)/launch/load_tx60l.launch" />
    <!--发布关节状态-->
    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
    <!--发布TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <!--rviz显示-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find staubli_description)/config/staubli_model.rviz" required="true" />
</launch>