<?xml version="1.0"?>
<launch>
    <!--设置launch文件参数，大部分都是gazebo_ros下的empty_world.launch所需参数-->
    <arg name="world_name" value="$(find staubli_gazebo)/worlds/test.world" />
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />

    <!-- 运行Gazebo仿真环境 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="paused"     value="$(arg paused)" />
        <arg name="use_sim_time" value="$(arg use_sim_time)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="headless" value="$(arg headless)" />
        <arg name="debug" value="$(arg debug)" />
    </include>

    <!--通过包含load_tx60l.launch加载urdf模型-->
    <include file="$(find staubli_gazebo)/launch/load_tx60l.launch" />

    <!--发布关节状态-->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <!--发布TF-->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
        <param name="publish_frequency" type="double" value="50.0" />
    </node>

    <!--在Gazebo中加载模型-->
    <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
          output="screen" respawn="false"
          args="-urdf
                -param robot_description
                -model staubli_tx60l" />

    <!-- init and start Gazebo ros_control interface -->
    <include file="$(find staubli_gazebo)/launch/position_control_tx60l.launch"/> 

</launch>